# .NET build output
bin/
obj/
out/

# Visual Studio / Rider / VS Code
.claude
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates


# Local SQL Server LocalDB / EF
*.mdf
*.ldf

# OS
Thumbs.db
.DS_Store
